/* Reset */

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Variáveis */

:root {
    --main-color: #000;
    --main-text-color: #ff6600;
    --border-color: #999;
    --about-bg-color: #111821;
}

.main {
    color: var(--main-text-color);
  
}

#barra_superior {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 10vh;

    background-color: #111821;
    color: var(--main-text-color);
    border-top: #999;
    border-width: 10px;
    border-color: #999;
   
    border-bottom: 10px;
}

#button_act {
    display: flex;
    padding: 25px 30px;
}

#calc_container {
    flex: auto;
    height: 95vh;
    background-color: var(--main-color);
    color: var(--main-text-color);
    padding: 50px;
    border-width: 1px;
    border-style: var(--border-color);
    border-top: var(--border-color);
}